/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes move__arrow {
  0% {
    margin-inline-start: -24px;
  }
  100% {
    margin-inline-start: -20px;
  }
}

@keyframes heart__scale{
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }
}

@keyframes show__sparks{
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition: fill 0.3s linear;
}

.like-icon .main__body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .main__body {
  fill: var(--accent-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .main__body, .like-icon:active .core {
  fill: var(--sparks-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .main__body, .like-icon.is-liked .core {
  fill: var(--sparks-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--sparks-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked  {
  animation: heart__scale 0.3s ease-in alternate 0.01s;
}

.like-icon.is-liked  .sparks {
  animation: show__sparks 0.3s ease-in alternate 0.3s;
}






