/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  margin: auto;
  margin-inline-start: clamp(0rem, -8.1866rem + 34.9296vw, 23.25rem);
  margin-inline-end: clamp(0rem, -8.1866rem + 34.9296vw, 23.25rem);
  color: var(--accent-color);
  font-variation-settings: var(--main-font, 'Inter', sans-serif);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-block-size: 100dvb;
  min-inline-size: 375px;
  max-inline-size: 696px;
}

.base__text__settings {
  font-weight: var(--main-font-weight);
  font-style: normal;
  line-height: normal;
  text-align: center;
  font-size: 14px;
}

.header {
  margin-block-start: 102px;
  margin-block-end: 100px;
  padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem) clamp(0rem, -2.2007rem + 9.3897vw, 6.25rem) 25px;
  font-family: var(--accent-font), 'PressStart2P', sans-serif;
  text-transform: uppercase;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  inline-size: 100%;
}

.header__title {
  margin-block-end: 20px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-decoration: none;
}

.header__subtitle {
  margin-block-start: 20px;
  margin-block-end: 22px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu {
  display: flex;
  justify-content: center;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
  inline-size: fit-content;
}

.theme-menu__button {
  font-size: 14px;
  position: relative;
  border: none;
  opacity: 1;
  text-decoration: none;
  text-transform: inherit;
  background-color: transparent;
  cursor: pointer;
}

.theme-menu__button::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--accent-color);
  transition: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  top: 0;
  left: 7px;
  color: var(--accent-color);
  animation: move__arrow 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: opacity 300ms ease;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
  transition: opacity 300ms ease;
}

.theme-menu__button:hover::after {
  width: 100%;
  transition: width 300ms ease;
}

.theme-menu__button:focus::after {
  width: 100%;
  transition: width 300ms ease;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__item {
  margin-inline-start: 15px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: clamp(3.125rem, 3.037rem + 0.3756vw, 3.375rem);
  inline-size: 100%;
}

.section {
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
}

.section__title {
  font-size: 18px;
  font-family: var(--main-font);
  font-variation-settings: "wght" var(--accent-font-weight, 785);
  margin: 5px 24px 5px 10px;
}

.wrapper {
  position: relative;
}

.label {
  position: absolute;
  top: 25px;
  right: clamp(0.6875rem, 0.3794rem + 1.3146vw, 1.5625rem);
  opacity: 0.5;
  color: var(--accent-color);
  font-family: var(--accent-font), 'PressStart2P', sans-serif;
  text-transform: uppercase;
  text-shadow:
    -1px 0 var(--background-color),
    0 1px var(--background-color),
    1px 0 var(--background-color),
    0 -1px var(--background-color); 
  mix-blend-mode: hard-light;
} 

@supports((text-stroke: 1px var(--background-color)) or (-webkit-text-stroke: 1px var(--background-color))) {
  .label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--background-color);
    text-stroke: 1px var(--background-color);
  }
} 

.label__lowercase {
  text-transform: lowercase;
}

.section__image {
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
  object-fit: cover;
  object-position: 50% 50%;
  inline-size: 100%;
}

.filter__saturate {
  filter: saturate(200%);
}

.filter__brightness {
  filter: brightness(200%);
}

.filter__contrast {
  filter: contrast(20%);
}

.filter__sepia {
  filter: sepia(80%);
}

.filter__opacity {
  filter: opacity(0.8);
}

.filter__grayscale {
  filter: grayscale(0.8);
}

.filter__invert {
  filter: invert(0.7);
}

.filter__mix__hue-rotate__sepia__invert {
  filter: hue-rotate(-90deg) invert(0.7) sepia(80%);
}

.section__description {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin: 25px 20px 0 25px;
}

.section__paragraph {
  color: var(--accent-color);
  font-family: var(--main-font), 'Inter', sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 21px;
}

 @supports (font-variation-settings: normal) {
  .section__paragraph {
    font-weight:  var(--main-font-weight);
  }
}

.section__like {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 8px;
  margin: 25px 25px 25px 0;
}

.contour {
  fill: var(--accent-color);
}

.sparks {
  opacity: 0;
  fill: var(--sparks-color);
}

.card__icon-button {
  display: flex;
  align-items: center;
  border: none;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  block-size: 31px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
  transition: outline 0.05s ease;
}

.card__like-button {
  position: relative;
  border-color: var(--accent-color);
  padding: 9px 17px;
  color: var(--accent-color);
  font-family: var(--accent-font), 'PressStart2P', sans-serif;
  line-height: 90%;
  background-color: transparent;
  cursor: pointer;
  inline-size: 130px;
}

.card__like-button:hover {
  color: var(--accent-color);
}

.card__like-button:before {
  content: "";
  position: absolute;
  background-color: var(--accent-color);
  bottom: 0;
  left: 0;
  right: 100%;
  top: 0;
  transition: right 0.5s ease-in-out;
}

.card__like-button:hover:before {
  right: 0;
}

.card__like-button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
  transition: box-shadow 0.3s ease;
}

.button__text {
  position: relative;
  color: var(--button-color-animation-hover);
  background-color: var(--button-background-animation-hover);
  mix-blend-mode: difference;
}

.footer__button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: auto;
  margin-block-start: 54px;
  margin-block-end: 103px;
  border: 2px solid var(--accent-color);
  padding: 15px 0;
  color: var(--accent-color, #000);
  font-family: var(--accent-font), 'PressStart2P', sans-serif;
  line-height: 90%;
  background-color: var(--background-color);
  cursor: pointer;
  max-inline-size: clamp(19.125rem, 18.4868rem + 2.723vw, 20.9375rem);
  inline-size: clamp(19.125rem, 18.4868rem + 2.723vw, 20.9375rem);
}
    
.footer__button:before {
  content: "";
  position: absolute;
  background:var(--accent-color);
  bottom: 0;
  left: 0;
  right: 100%;
  top: 0;
  z-index: -1;
  transition: right 0.5s ease-in-out;
}

.footer__button:hover {
  color: var(--background-color);
  background-color: transparent;
}

.footer__button:hover:before {
  right: 0;
}

.footer__button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
  transition: box-shadow 0.3s ease;
}

@supports (font-variation-settings: normal) {
  .footer {
    font-weight: var(--main-font-weight);
  }
}

.floppy__icon__footer {
  width: 21px;
  height: 21px;
}

#dialog__id {
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
  inline-size: clamp(21.3125rem, 20.9604rem + 1.5023vw, 22.3125rem);
  padding: 30px;
}

#dialog__id .dialog__container {
  display: flex;
  gap: 20px;
}

.dialog__text {
  color: var(--accent-color);
  font-family: var(--accent-font), 'PressStart2P', sans-serif;
  line-height: 150%;
  text-transform: uppercase;
}

.text__left__align {
  text-align: left;
  inline-size: fit-content;
}

.dialog__form {
  display: grid;
}

.dialog__floppy__icon {
  align-self: center;
  inline-size: 39px;
  block-size: 39px;
}

.dialog__button {
  margin: auto;
  margin-block-start: 30px;
  border: 2px solid var(--accent-color);
  background-color: transparent;
  cursor: pointer;
  min-inline-size: 100%;
}

.dialog__button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
  transition: box-shadow 0.3s ease;
}

dialog::backdrop {
  opacity: 0.75;
  background: #000;
}

@media (width <= 395px) {
  .footer__button {
    flex-direction: column;
  }

  .header__title {
    font-size: clamp(0.0625rem, 0.0625rem + 12.8vw, 3.0625rem);
  }

  .page {
    min-inline-size: 120px;
  }

  .header__intro {
    padding-inline-start: 0;
    padding-inline-end: 0;
    inline-size: 100%;
  }

  .footer__button {
    inline-size: clamp(0.0625rem, 0.0625rem + 81.3333vw, 19.125rem);
  }
}
